<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
<input placeholder="email" type="email" value="{{email::input}}"></input>
<input placeholder="passwowrd" type="password" value="{{password::input}}"></input>
<button on-click="login">Login</button>
<span hidden$="{{!isLogged}}"> Bienvenid@ de nuevo</span>

<iron-ajax
  id="doLogin"
  url="http://localhost:3000/apitechu/V2/login"
  handle-as="json"
  content-type="application/json"
  method = "POST"
  on-response="manageAJAXResponse"
  on-error="showError"
  >
  </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
           email:{
            type:String
          },
            password:{
              type:String
            }, isLogged:{
              type: Boolean,
              value:false
            },userid:{
              type:Number
            }
        };
      }
      login(){
        console.log("El usuario ha pulsado el botón");
        console.log("voy a enviar la petición");
        console.log(this.email);
        //console.log(this.password);

        var loginData={
          "email": this.email,
          "password": this.password
        }
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Peticion enviada");

      }
     manageAJAXResponse(data){
       console.log("LLegaron los resultados");
       console.log(data.detail.response);
       this.isLogged=true;
       //Generamos el evento
       this.dispatchEvent(
         new CustomEvent(
           "isloggedevent", //NOmbre del evento que se capturara (todo en minusculas)
           {
             "detail":{
               "userid":data.detail.response.id, //Contenido especifico del evento payload (lo que se quiere mandar)
               "islogged": this.isLogged
             }
           }
         )
       )//dispatchEvent
     }
     showError(error){
       console.log("Va por la funcion de error");
       console.log(error);
       this.isLogged=false;
     }
    }//close class

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
