<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="receptor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Soy el receptor</h2>

<h3>Este curso es [[course]]</h3>
<h3>y estamos en el año [[year]]</h3>

<input type="text" value="{{course::input}}"></input>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ReceptorEvento extends Polymer.Element {
      static get is() { return 'receptor-evento'; }
      static get properties() {
        return {
          course :{
            type: String,
            observer: '_courseChanged'
          }, year:{
            type:String
          }

        };
      }
      sendEvent(e){
        console.log("Pulsado el boton");
        console.log(e);

        this.dispatchEvent(
          new CustomEvent(
            "myevent", //NOmbre del evento que se capturara (todo en minusculas)
            {
              "detail":{
                "course":"Techu", //Contenido especifico del evento payload (lo que se quiere mandar)
                "year": 2019
              }
            }
          )
        )//dispatchEvent
      }//SendEvent

      _courseChanged(newValue, oldValue){
        console.log("course value has changed");
        console.log("valor antiguo"+oldValue);
        console.log("valor nuevo"+newValue);
      }

    }//close class

    window.customElements.define(ReceptorEvento.is, ReceptorEvento);
  </script>
</dom-module>
