<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="emisor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Soy el emisor</h2>

<button on-click="sendEvent"> No pulsar</button>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class EmisorEvento extends Polymer.Element {
      static get is() { return 'emisor-evento'; }
      static get properties() {
        return {

        };
      }
      sendEvent(e){
        console.log("Pulsado el boton");
        console.log(e);

        this.dispatchEvent(
          new CustomEvent(
            "myevent", //NOmbre del evento que se capturara (todo en minusculas)
            {
              "detail":{
                "course":"Techu", //Contenido especifico del evento payload (lo que se quiere mandar)
                "year": 2019
              }
            }
          )
        )//dispatchEvent
      }//SendEvent

    }//close class

    window.customElements.define(EmisorEvento.is, EmisorEvento);
  </script>
</dom-module>
