<link rel="import" href="../../bower_components/polymer/polymer-element.html">


<dom-module id="visor-estilos">
  <template>
    <style>
      :host {
        display: block;
        all : initial;
          border: solid blue;
      }
      .redbg{
        background-color: red;
      }
      .greenbg{
        background-color: green;
      }
      .bluebg{
        background-color: blue;
      }
      .greybg{
        background-color: grey;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <h3>visor estilos</h3>
    <div class="row greybg">
      <div class="col-2 offset-1 redbg">col 1</div>
      <div class="col-3 offset-2 greenbg">col 2</div>
      <div class="col-4 offset-3 bluebg"> col 3</div>
    </div>
    <button class="btn btn-primary">Login</button>
    <button class="btn btn-secondary">Logout</button>
    <button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorEstilos extends Polymer.Element {
      static get is() { return 'visor-estilos'; }
      static get properties() {
        return {

        };
      }

    }//close class

    window.customElements.define(VisorEstilos.is, VisorEstilos);
  </script>
</dom-module>
